@font-face {
    font-family: "Ubuntu Mono";
    src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

:root {
 --roxo-gamificC: #5A278C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(90deg, rgba(161, 101, 220, 0)0%,rgba(168, 118, 216, 0.5772)43%, rgba(172, 131, 212, 1)75%, rgba(223, 191, 255, 1)93%), url();
    background-repeat: no-repeat;

    background-position: 165% 40%;
}