@font-face {
    font-family: "Ubuntu Mono";
    src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);

}

:root {
    --roxo-gamificC: #5A278C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 20px-Espaçamento externo de 20px*/
    /* margin: 20px-Espaçamento 20px na vertical, 10px na horizontal*/
    /* margin: 20px-Espaçamento 20px para cima, 10px na horizontal,5px para baixo*/
    /* margin: 20px 10px 5px 2px-Espaçamento 20px para cima,10px para a direita,5px para baixo,2px para a esquerda*/

    margin: 0 auto;
}

.banner {
    height: 100vh;


    background-repeat: no-repeat;

    background-position: 120% 30%;
}

.primeiro-banner {
    background-image: linear-gradient(90deg, rgba(189, 150, 221, 0.853) 8%, rgba(113, 83, 142, 0.8) 30%, rgba(48, 33, 64, 0.8) 59%, rgba(29, 3, 54, 0.7999650543811274) 83%), url(img/controle\ remoto.png);
}

.segundo-banner {
    background-image: linear-gradient(90deg,  rgba(82, 137, 157, 0.67) 20%, rgba(38, 18, 170, 0.768) 69%, rgba(29, 3, 108, 0.867) 83%), url(img/controle\ remoto.png);

}


#botao-voltar,
#botao-proximo {
    width: 30px;

    background: none;
    border: none;

    cursor: pointer;

    position: absolute;
}

#botao-voltar svg,
#botao-proximo svg {
    fill: #ffffff76;
}

#botao-voltar {
    left: 5%;
    top: 50%;   
}

#botao-proximo {
    right: 5%;
    top: 50%;
}

.botoes {
    width: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 4%;

    left: calc(50% - 75px);

}

.botoes button {
    width: 30px;

    display: unset;

    background: none;
    border: none;
    cursor: pointer;
}

.botoes button svg {
    fill: #ffffff76;
}



header {
    height: 180px;
}

header button {
    display: none;
}

header img {
    width: 240px;
}

header .container-grid {
    height: 120%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 900px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    font-family: 'Kdam Thmor Pro';

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 900ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}


#sobre {
    height: 800px;
    padding: 80px 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    text-align: left;
}

h2 {
    font-family: 'Kdam Thmor Pro';
    font-size: 30px;
}

#sobre p {
    font-family: 'Ubuntu Mono';
    font-size: 25px;

    text-align: left;

    line-height: 2.1;
}

#formulario {
    text-align: left;
    padding: 50px 10%;

    padding-bottom: 0px;
    margin-bottom: 100px;


}

#formulario h2 {
    margin-bottom: 70px;
}

#formulario form {
    width: 40%;

    margin: 80px;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0px;
    background: rgb(90, 39, 140);
    background: linear-gradient(0deg, rgba(90, 39, 140, 0.6974439433976716) 23%, rgba(203, 165, 242, 0.8038865204284839) 60%, rgba(219, 184, 255, 0.7954831590839461) 80%);

    color: black;
    font-family: "Kdam Thmor Pro";
    font-size: 20px;
}

.campo {
    width: 90%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

}

.campo-descricao {
    width: 90%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;

}

.campo input {
    height: 40px;
    width: 100%;

    color: #a0a0a0;
    background-color: #F3D6FF;


    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: #a0a0a0;

    border: none;
    background-color: #F3D6FF;

    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;

}

.campo label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: 'Kdam Thmor Pro';
    font-size: 18px;
}

.campo input::placeholder,
.campo-descricao textarea ::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid #A279CB;
}

#formulario form button {
    height: 40px;
    width: 90%;

    background-color: var(--roxo-gamificC);
    color: white;


    border-radius: 1px;

    font-size: 25px;
    font-family: 'Kdam Thmor Pro';
    font-weight: 700;
    /* Bold */

    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 500ms;
}

#formulario form button:hover {
    background-color: #A279CB;

    color: black;


}

#atendimento {
    height: 200px;

    background-image: url(img/imagem-roxa.jpg);
    background-size: 250px;

    background-attachment: fixed;

    position: relative;

    margin-bottom: 100px;

    /*background-repeat: no-repeat;*/
}

#atendimento .container-grid {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#atendimento a {
    width: fit-content;
    height: 50%;

    color: white;

    font-family: 'Kdam Thmor Pro';
    font-size: 30px;

    text-decoration: none;

}

#cases {

    text-align: left;

    padding-bottom: 100px;
    margin-bottom: 50px;
}

#cases h2 {
    margin-bottom: 50px;
}

.container-cards {
    display: flex;

    justify-content: space-between;

}

.card {
    height: 350px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 40px;

    background-color: #DFCCF1;

    border-radius: 4px;

    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);

}

.card img {
    height: 55%;
    width: 70%;

    border-radius: 4px 4px 0px 0px;
}

.card p {
    color: black;

    font-family: 'Kdam Thmor Pro';
    font-size: 20px;

    text-align: center;

    padding: 7%;
}

#portfolio {
    height: 200px;

    background-image: url(img/Portfolio.png);
    background-size: 100% 20%;

    background-attachment: fixed;

    position: relative;

    margin-bottom: 100px;

}

#portfolio .container-grid {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio a {

    color: white;

    font-family: 'Kdam Thmor Pro';
    font-size: 29px;
}

#portfolio a:hover {
    transform: scale(1.05);
    transition: 200ms;
}

#duvidas {
    text-align: left;

    padding: 50px 10%;
    margin-bottom: 50px;


}

#duvidas h2 {
    margin-bottom: 50px;
}

#duvidas form {
    width: 70%;

    margin: 0 auto;
    padding: 70px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0px;
    background-color: #5A278C;

    color: white;
    font-family: "kdam Thmor Pro";
    font-size: 17px;


}

.campo-pergunta {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 200px;
}

.campo-pergunta input {
    height: 10px;

    color: white;
    background-color: #D9D9D9;

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo label,
.campo-pergunta label {
    margin-bottom: 45px;
}

.campo input,
.campo-pergunta textarea {
    font-family: 'Montserrat';
    font-size: 17px;

    margin-bottom: 15px;
}

.campo input::placeholder,
.campo-pergunta textarea ::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-pergunta textarea:focus {
    outline: 2px solid var(--roxo-gamificC);
}


#duvidas form button {
    height: 40px;
    width: 90%;

    background-color: #D7AFFF;
    color: black;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 700;
    /* Bold */

    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 500ms;
}

#duvidas form button:hover {
    background-color: #9A51AE;

    color: white;
}

footer {
    height: 200px;

    background-image: url(img/contato.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}




footer .container-grid {
    display: flex;
    justify-content: space-between;

}

.redes-sociais {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;


}

#contate-nos {
    text-align: left;

    padding: 30px 10%;
    margin-bottom: 50px;

}

#contate-nos h2 {
    margin-bottom: 10px;

}

.redes-sociais p {
    color: #fff;

    font-family: 'Kdam Thmor Pro';
    font-size: 40px;

    padding: 30px 10%;

}

.icones-redes {
    width: 350px;
    height: 200px;

    display: flex;
    justify-content: space-between;

    align-items: flex-end;

}


.icones-redes a {
    color: white;
}

.icones-redes a:hover {
    color: #8000ff;
}

.menu-fechado {
    display: none;
}

#icone-barras {
    display: none;
}

@media screen and (max-width: 1300px) {

    .banner {
        background-size: cover;
    }

    header {
        position: relative;
    }
   

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;

        background-color: #000000da;

        position: absolute;
        top: 165px;
        right: 0px;
    }



    .banner {
        height: 100vh;

        background-position: 110% 20%;
    }

    #atendimento {
        height: 150px;
    }

    .card {
        height: 450px;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 22%;
    }

    .card img {
        height: 200px;
        width: 200px;

    }

    .card p {
        font-size: 22px;

        text-align: center;
    }

    .icones-redes {
        width: 400px;
        height: 180px;

        justify-content: space-between;

    }

    .icones-redes svg {
        width: 70px;
    }


}

@media screen and (max-width: 1080px) {
    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 350px;


        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    .redes-sociais {
        align-items: center;
    }

    .icones-redes {
        width: 300px;
        height: 180px;

        justify-content: space-between;

    }

    .icones-redes svg {
        width: 50px;
    }
}

@media screen and (max-width: 800px) {

    .banner {
        background-size: cover;
    }


    .card {
        flex-basis: 45%;
    }

    #sobre {
        padding: 50px 15%;
    }

    h2 {
        font-family: 'Kdam Thmor Pro';
        font-size: 30px;
    }

    #sobre p {
        font-family: 'Ubuntu Mono';
        font-size: 20px;

        text-align: left;

        line-height: 2.0;
    }



    #formulario form {
        width: 60%;


    }

    #atendimento {
        height: 150px;
    }

    .redes-sociais p {

        font-size: 23px;

        padding: 30px 10%;

    }

    .icones-redes {
        width: 300px;
        height: 180px;

        justify-content: space-between;

    }


    .icones-redes svg {
        width: 50px;
    }

}

@media screen and (max-width: 700px) {

    .banner {
        background-size: cover;
        
    }

    #sobre {
        height: unset;
        margin-bottom: 40px;
    }

    #sobre h2 {
        margin-bottom: 50px;
    }

    #sobre p {
        margin-bottom: 30px;
    }

    #atendimento {
        height: 150px;
    }

    h2 {
        font-family: 'Kdam Thmor Pro';
        font-size: 25px;
    }

    .card p {
        font-size: 19px;

        text-align: center;
    }


    #porfolio a {
        width: 20%;
        text-align: center;
    }


    .redes-sociais p {
        font-size: 25px;

        padding: 30px 10%;

    }

    .icones-redes {
        width: 250px;
        height: 80px;

        justify-content: space-between;

    }

    .icones-redes svg {
        width: 40px;
    }
}

@media screen and (max-width: 520px) {
    .container-grid {
        width: 90%;
    }

    header img {
        width: 200px;
    }

    .banner {
        background-size: cover;
    }

    nav.menu {
        width: 60%;

       
    }

    #sobre p {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;

    }

    #atendimento {
        height: 100px;
    }


    #atendimento a {
        font-size: 19px;
    }

    #formulario form {
        width: 70%;
    }

    .container-cards {
        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;

        flex-basis: unset;


    }

    .card p {
        font-size: 22px
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }


    #duvidas form {
        width: 80%;
    }

    .redes-sociais p {
        font-size: 19px;


    }

    .icones-redes {
        width: 300px;
        height: 80px;

        justify-content: space-between;
        box-sizing: border-box;

        align-items: center;
    }

    .icones-redes svg {
        width: 35px;
    }

}

@media screen and (max-width: 400px) {
    .banner {

        background-size: cover;

        height: 20px;

    }

    header img {
        width: 160px;
    }

    header svg {
        width: 60px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }

    #sobre {
        height: unset;
        margin-bottom: 5px;

        padding: 80px 10%
    }

    #sobre h2 {
        margin-bottom: 30px;
    }

    #sobre p {
        margin-bottom: 10px;

        font-size: 15px;
    }


    #formulario h2 {
        margin-bottom: 20px;
    }

    #formulario form {
        width: 90%;

        margin: 20px;
    }


    #portfolio a {
        font-size: 20px;
    }

    #duvidas form {
        width: 90%;

        margin: 0 auto;
        padding: 70px 0;
    }

    .redes-sociais p {
        font-size: 16px;
    }

    .icones-redes {
        width: 350px;


        justify-content: space-between;
        box-sizing: border-box;

        align-items: center;
    }

    .icones-redes svg {
        width: 30px;
    }

}